<%- include('./partials/head') %>

<main>
  
  <section class="top-screen">
    <div class="text-box">
      <h1>Choose your starter squad</h1>
    </div>
  </section>

  <div class="bottom-row">
    <img src="/assets/decorative_buttons_left.png" alt="decorative buttons" class="decorative-button">
    <section class="bottom-screen">
      <div class="squad-buttons">
        <a href="/squad/3">Squad 3</a>
        <a href="/squad/4">Squad 4</a>
        <a href="/squad/5">Squad 5</a>
      </div>
    </section>
    <img src="/assets/decorative_buttons_right.png" alt="decorative buttons" class="decorative-button">
  <div>
  
</main>


<%- include('./partials/foot') %>