<%- include('./partials/head') %>

<!-- <section>
  <div class="text-box" -->
    <h1>Choose your starter squad</h1>
  <!-- </div> -->
<!-- </section> --> -->

<section class="squad-buttons">
  <a href="/squad/3">Squad 3</a>
  <a href="/squad/4">Squad 4</a>
  <a href="/squad/5">Squad 5</a>
</section>


<%- include('./partials/foot') %>