<%- include('./partials/head') %>

<h1>Choose your squad</h1>

<section class="squad-buttons">
  <a href="/squad/3">Squad 3</a>
  <a href="/squad/4">Squad 4</a>
  <a href="/squad/5">Squad 5</a>
</section>


<%- include('./partials/foot') %>