@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    /* Main colors */
--ds-color: pink;
--screen-color: aliceblue;
    /* Secondary colors */
--darker-purple: purple;
    /* Borders */
--big-radius: 2rem;
--small-radius: 10px;
--border-width: 15px;
}

main {
    background-color: var(--ds-color);
    width: 70vw;
    height: 90vh;
    border-radius: var(--big-radius);
    border: 1px solid black;
    margin: 5vh 5vw;
}

.top-screen {
    background-color: var(--screen-color);
    border: var(--border-width) solid var(--darker-purple);
    border-radius: var(--small-radius);
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 2%;
    height: 35%;

    .text-box {
        background-image: url("/assets/Pokemon_Text_Box_-_Pokmon__Png_Download_-_1177x553___4669714__PNG_Image-removebg-preview.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        width: 20rem;
        padding: 2% 2%;
        aspect-ratio: 729/342;

        h1 {
            margin: 0;
        }
    }
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    width: 100%;
    height: 35%;

    .decorative-button {
        max-width: 8rem;
    }
}

.bottom-screen {
    background-color: var(--screen-color);
    border: var(--border-width) solid var(--darker-purple);
    border-radius:var(--small-radius);
    width: 60%;
    height: 100%;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.squad-buttons {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        background-image: url("/assets/pokeball.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 1.5rem;
        width: 10rem;
        display: block;
        text-align: center;
        height: 10rem;
        transition: transform 400ms cubic-bezier(.47,1.64,.41,.8);
    }

    a:hover {
        transform: scale(1.1);
    }
}