@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    /* Main colors */
--ds-color: pink;
--screen-color: aliceblue;
    /* Secondary colors */
--darker-purple: purple;
    /* Borders */
--big-radius: 2rem;
--small-radius: 10px;
--border-width: 15px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

main {
    background-color: var(--ds-color);
    width: 70vw;
    height: 90vh;
    border-radius: var(--big-radius);
    border: 1px solid black;
    margin: 5vh 5vw;
}

header {
    background-color: yellow;
    width: 100%;
}

.top-screen {
    background-color: var(--screen-color);
    border: var(--border-width) solid var(--darker-purple);
    border-radius: var(--small-radius);
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 2%;
    height: 35%;

    .text-box {
        background-image: url("/assets/Pokemon_Text_Box_-_Pokmon__Png_Download_-_1177x553___4669714__PNG_Image-removebg-preview.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        width: 20rem;
        padding: 2rem 2rem;
        aspect-ratio: 729/270;

        h1 {
            margin: 0;
        }
    }

    .card {
        p {
            margin: 0;
        }

        img {
            width: 10rem;
            height: 10rem;
            object-fit: contain;
        }

        .image-name-website {
            background-color: yellowgreen;
            display: flex;

            .image-container {
                border: 0.5rem solid yellowgreen;
            }

            .person-name {
    
            }
        }
    
        .person-bio {
            max-height: 5rem;
            overflow: auto;
            border: 1rem solid lightseagreen;
        }
    }
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    width: 100%;
    height: 35%;

    .decorative-button {
        max-width: 8rem;
    }
}

.bottom-screen {
    background-color: var(--screen-color);
    border: var(--border-width) solid var(--darker-purple);
    border-radius:var(--small-radius);
    width: 60%;
    height: 100%;
    overflow-y: auto;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.squad-buttons {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
        background-image: url("/assets/pokeball.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 1.5rem;
        width: 10rem;
        display: block;
        text-align: center;
        height: 10rem;
        transition: transform 400ms cubic-bezier(.47,1.64,.41,.8);
    }

    a:hover {
        transform: scale(1.1);
    }
}

.people {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    row-gap: 0.5rem;
    list-style-type: none;
    padding-left: 0;
    margin-left: 1rem;

    .person {
        display: block;
        background-image: url("/assets/pokeball.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;
        background-position: center 1.2rem;
        text-align: center;
        margin: 0;
        cursor: pointer;
    }
}